<form name="new-ticket" action="<%= link_to(:tickets) %>" method="POST" class="row">
  <div class="col s12 offset-s0 m8 offset-m2 margin-top-1em margin-bottom-1em">
    <h3 class="center-align"><%= t 'new_ticket' %></h3>

    <input type="hidden" name="authenticity_token" value="<%= csrf %>">

    <div class="row">
      <div class="input-field">
        <input type="text" id="title" name="title" value="<%= title.value unless !title %>" required minlength="3" maxlength="255" class="validate" />
        <label class="active" for="title"><%= t 'title' %></label>
      </div>
    </div>
    <% if title and title.error %>
    <div class="alert alert-error">
      <%= t 'title_error' %>
    </div>
    <% end %>

    <div class="row">
      <div class="input-field">
        <select name="type" id="type">
          <% types.each do |_t| %>
          <option value="<%= _t.value %>" <% if type and type.value == _t.value %>selected<% end %>>
            <%= t _t.name %>
          </option>
          <% end %>
        </select>
        <label class="active" for="type"><%= t 'ticket_type' %></label>
      </div>
    </div>
    <% if type and type.error %>
    <div class="alert alert-error">
      <%= t 'type_error' %>
    </div>
    <% end %>

    <div class="row">
      <div class="input-field">
        <select name="priority" id="priority">
          <% priorities.each do |p| %>
          <option value="<%= p.value %>" <% if priority and priority.value == p.value %>selected<% end %>>
            <%= t p.name %>
          </option>
          <% end %>
        </select>
        <label class="active" for="priority"><%= t 'priority' %></label>
      </div>
    </div>
    <% if priority and priority.error %>
    <div class="alert alert-error">
      <%= t 'priority_error' %>
    </div>
    <% end %>

    <div class="row">
      <div class="input-field">
        <input type="email" name="email_to_reply" id="email_to_reply" value="<%= email_to_reply.value unless !email_to_reply %>" class="validate" />
        <label class="active" for="email_to_reply"><%= t 'email_to_reply' %></label>
      </div>
    </div>
    <% if email_to_reply and email_to_reply.error %>
    <div class="alert alert-error">
      <%= t 'email_error' %>
    </div>
    <% end %>

    <div class="row">
      <div class="input-field">
        <textarea name="description" id="description" class="materialize-textarea validate" required minlength="3"><%= description.value unless !description %></textarea>
        <label class="active" for="description"><%= t 'description' %></label>
      </div>
    </div>
    <% if description and description.error %>
    <div class="alert alert-error">
      <%= t 'description_error' %>
    </div>
    <% end %>

    <div class="center-align">
      <a class="btn-flat waves-effect waves-teal" href="<%= link_to :home %>"><%= t 'cancel' %>
      </a>

      <button class="btn waves-effect waves-light" type="submit"><%= t 'create_ticket' %>
        <i class="mdi-content-send right"></i>
      </button>
    </div>
  </div>
</form>
